<h2>Bandas registradas</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Participantes</th>
    </tr>
  </thead>

<% @bands.each do |band| %>
  <tr>
    <td><%= band.name %></td>
    <td>

    </td>
  </tr>
<% end %>
</table>
